@import "compass/utilities/general/float";
@import "compass/css3/images";
@import "compass/css3/background-size";

#header {
	@include background(linear-gradient(bottom center, #000, transparent),
			url("../img/header_bg_3.png"));
	@include background-size(auto 100%);
	background-position: center;
	background-repeat: no-repeat;
	/*height: $n16;*/
	width: 100%;
	color: white;
	padding-bottom: $n7;

}
#nav {
	background: #fedc01;
	width: 100%;
	height: $n7;
}
#our-projects {
	background: lightgray;
	width: 100%;
	height: $n15;
}
#footer {
	background: #fedc01;
	width: 100%;
}
.l-float-left {
	@include float-left();
}
.l-float-right {
	@include float-right();
}
.container-fixed {
	width: 100%;
}
