/**
*
* Modular Scale
*
**/

$n1: 1.125rem;
$n2: 1.368rem;
$n3: 1.82rem;
$n4: 2.213rem;
$n5: 2.945rem;
$n6: 3.581rem;
$n7: 4.765rem;
$n8: 5.794rem;
$n9: 7.71rem;
$n10: 9.375rem; // 150 px
$n11: 12.475rem;
$n12: 15.169rem;
$n13: 20.185rem;
$n14: 24.543rem;
$n15: 32.659rem;
$n16: 39.711rem;
$n17: 52.842rem;
$n18: 64.252rem;



/**
*
* Typography Variables
*
**/

$ff: Palatino, Georgia, serif;
$bff: Trebuchet MS, Arial, sans-serif;

// $base-font-size: $n1;
// $base-line-height: $n2;